<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxrzhe.pushnotifications">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".ContactsFbMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baseline_person_24" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/design_default_color_primary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>